<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="main-pokedex-container">
        <div class="pokedex-header">
            <img src="/images/pokedex_logo.png" alt="Pokedex">
        </div>
        <div class="navbar">
            <h4>Search by name or pokedex number:</h4>
            <form id="search-form" class="search-box">
                <input type="text" name="search" id="input-search-pkmn" placeholder="Search a Pokemon">
                <button type="submit" id="btn-search">Search</button>
            </form>
        </div>
        <div class="display-pokedex">
            <div class="pokedex-list">
                <ol class="display-list">
                    <% pokemons.forEach(pokemon=> { %>
                        <li>
                            <button class="btn-pkmn-link" data-pkmn="<%= pokemon.name %>">
                                <%= pokemon.name.replace(/-/g, ' ') %>
                            </a>
                        </li>
                        <% }) %>


                </ol>
            </div>
            <div class="pkmn-info">
                <p>Selecciona un Pokémon o búscalo arriba.</p>
            </div>
        </div>

    </div>

    <script src="/scripts/main.js"></script>
</body>

</html>