body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.main-pokedex-container {
    width: 98%;
    height: 85vh;
}

.pokedex-header {
    display: flex;
    justify-content: center;
    background-color: #b63e3e;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
}

.pokedex-header img {
    width: 15rem;
    height: auto;
}

.display-pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #8f7d7d;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 2rem 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    background-color: #332f2f;
    color: whitesmoke;
}

.search-box {
    padding: 1.25rem;
}

#btn-search {
    color: whitesmoke;
    font-weight: bold;
    background-color: #b63e3e;
    border-color: whitesmoke;
    border-radius: 1rem;
}

#input-search-pkmn {
    background-color: whitesmoke;
    color: #332f2f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    border-radius: 1rem;
    border-color: #332f2f;
}

.pkmn-info {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 90%;
    max-width: 25rem;
    height: 80%;
    border-radius: 2rem;
    transition: background-color 0.3s ease;
}

.pkmn-info p {
    text-align: center;
    font-size: 1.5rem;
    color: #332f2f;
    margin: 3rem;
    text-transform: initial;
}

.pkmn-name {
    font-size: 2rem;
    margin: 2rem 0;
    color: #bd0000;
    text-transform: capitalize;
    text-align: center;
}

.pkmn-sprites {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.pkmn-sprites div {
    display: flex;
    flex-direction: column;
}

.pkmn-sprites h3 {
    font-size: 1rem;
    color: whitesmoke;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
}

.pkmn-sprites img {
    width: 10rem;
}

.normal-sprite h3 {
    background-color: #8f7d7d;
}

.shiny-sprite h3 {
    background-color: #b63e3e;
}

.pkmn-types {
    margin: 0.5rem;
    color: #332f2f;
    text-align: center;
}

.type {
    border-radius: 1rem;
    padding: 0.5rem;
    color: whitesmoke;
    text-transform: capitalize;
    margin: 0 0.5rem;
}

.pkmn-abilities {
    margin: 0.5rem 0;
    color: #332f2f;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.ability {
    border-radius: 1rem;
    padding: 5px;
    color: whitesmoke;
    text-transform: capitalize;
    margin: 1rem 0.5rem;
}

.normal-ability {
    background-color: #8f7d7d;
}

.hidden-ability {
    background-color: #b63e3e;
}

.abilities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.pokedex-list {
    background-color: #332f2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    width: 90%;
    max-width: 25rem;
    overflow: auto;
    border-radius: 1.5rem;
    scrollbar-color: #b63e3e #332f2f;
    padding-top: 3rem;
}

.display-list li {
    border: 2px solid #8f7d7d;
    background-color: #b63e3e;
    padding: 0.5rem;
    border-radius: 1rem;
    color: whitesmoke;
    margin: 5px 0;
    cursor: pointer;
    width: 8rem;
    height: auto;
}

.display-list li button {
    color: whitesmoke;
    text-decoration: none;
    background: none;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.display-options {
    position: absolute;
    height: 3rem;
    margin-top: -2.7rem;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin-bottom: 3rem;
}

.display-options input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.display-options label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b93737;
  border: 2px solid transparent;
  border-radius: 10px;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.display-options label img {
  width: 1.5rem;
  filter: brightness(0.9) invert(1);
  transition: transform 0.2s ease, filter 0.3s ease;
}

.display-options label:hover {
  background-color: #a12e2e;
}

.display-options label:hover img {
  transform: scale(1.1);
  filter: brightness(1.2) invert(1);
}

.display-options input[type="radio"]:checked + label {
  border-color: #fff;
  background-color: #7c1919;
}

.display-options input[type="radio"]:checked + label img {
  filter: brightness(1.3) invert(1);
  transform: scale(1.15);
}

.mosaic-pkmn {
    display: flex;
    justify-content: center;
}

.mosaic-pkmn button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border: 2px solid #8f7d7d;
    background-color: #b63e3e;
    padding: 0.5rem;
    border-radius: 1rem;
    color: whitesmoke;
    margin: 5px 0;
    cursor: pointer;
    width: 10rem;
    height: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.mosaic-pkmn-name {
    text-transform: capitalize;
    text-align: center;
}

.bug {
    background-color: rgb(146, 173, 25);
}

.dark {
    background-color: rgb(49, 42, 34);
}

.dragon {
    background-color: rgb(50, 8, 202);
}

.electric {
    background-color: rgb(221, 224, 1);
}

.fairy {
    background-color: rgb(236, 152, 191);
}

.fighting {
    background-color: rgb(141, 0, 0);
}

.fire {
    background-color: rgb(255, 102, 0);
}

.flying {
    background-color: rgb(148, 182, 255);
}

.ghost {
    background-color: rgb(42, 1, 119);
}

.grass {
    background-color: rgb(100, 204, 79);
}

.ground {
    background-color: rgb(168, 160, 44);
}

.ice {
    background-color: rgb(95, 224, 203);
}

.normal {
    background-color: rgb(144, 150, 112);
}

.poison {
    background-color: rgb(115, 36, 131);
}

.psychic {
    background-color: rgb(230, 19, 100);
}

.rock {
    background-color: rgb(146, 113, 43);
}

.steel {
    background-color: rgb(180, 180, 180);
}

.water {
    background-color: rgb(21, 139, 194);
}

.hidden {
    display: none;
}

@media (min-width: 375px) {
    .abilities-container {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .display-pokedex {
        flex-direction: row;
        justify-content: space-around;
        background-color: #8f7d7d;
        padding: 0 1rem;
        height: 90%;
    }

    .pokedex-header img {
        width: 22rem;
    }

    .navbar {
        flex-direction: row;
        justify-content: center;
    }

    .pokedex-list {
        height: 75%;
        width: 45%;
    }

    .pkmn-info {
        max-width: 50rem;
        padding: 1rem 0;
        overflow: auto;
    }

    .pkmn-info p {
        font-size: 2rem;
        margin-top: 17rem;
    }

    .pkmn-name {
        font-size: 3rem;
    }

    .pkmn-sprites {
        flex-direction: row;
        gap: 2rem;
        justify-content: space-around;
    }
}

@media (min-width: 1024px) {
    .pkmn-sprites img {
        width: 13rem;
    }
}